﻿@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PetShop.Models.Account

<link href="~/css/signin.css" rel="stylesheet" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>
</head>

<script>
        $(document).ready(function () {
            // Kiểm tra xem session messFail có tồn tại không
            var message = "@ViewContext.HttpContext.Session.GetString("messFail")";
            console.log("Message from session:", message);
            if (message) {
                toastr.options = {
                    "positionClass": "toast-top-right",
                    "closeButton": true,
                    "progressBar": true,
                    "timeOut": 5000,
                    "extendedTimeOut": 2000,
                    "tapToDismiss": false,
                    "preventDuplicates": true,
                    "progressBarColor": "#FF3366",
                    "toastClass": "custom-toast"
                };

                toastr.error(message);

                $.ajax({
                    type: "POST",
                    url: "/Home/RemoveSession",
                    success: function (result) {
                        console.log("Session removed successfully.");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("Error removing session.");
                    }
                });
            }
        });
    </script>


<body>
    <div class="banner">
        <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('/assets/img/bn_login.jpg');">
            <div class="container">
                <h1 class="pt-5">Đăng nhập</h1>
                <div class="main-content">
                    <form class="form-login" method="post" asp-validation-summary="All">

                        <div class="form-log-in-with-email">
                            <div class="form-white-background" style="background-color: #f9f9f966">
                                <div class="form-title-row">
                                    <h1>Đăng nhập</h1>
                                </div>
                                <div class="form-row">
                                    <label>
                                        <span>Tài Khoản</span>
                                        <input asp-for="TaiKhoan" class="form-control" />
                                    </label>
                                    <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                                </div>

                                <div class="form-row">
                                    <label>
                                        <span>Mật khẩu</span>
                                        <input asp-for="Password" type="password" class="form-control" />
                                    </label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-row">
                                    <input style="padding-left: 30px" class="submits" type="submit" value="ĐĂNG NHẬP" />
                                </div>

                                <div style="color: red; text-align: left;">
                                    @ViewData["msgEmailPass"]
                                    @ViewData["msgEmpty"]
                                    @ViewData["msgActiveAccount"]
                                </div>
                            </div>

                            <a href="forgotpassword" style="font-size:16px" class="form-forgotten-password">Quên mật khẩu</a>
                            <a href="signup" style="font-size:16px" class="form-create-an-account">Đăng ký</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
    
</body>
